@import "tailwindcss";

@theme {
    --color-primary: #f17b27;
    --color-background-light: #f8f7f6;
    --color-background-dark: #221710;
    --font-display: "Work Sans", sans-serif;
    --radius-DEFAULT: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: 9999px;
}